body {
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-primary {
    background-color: #5AB18F;
    border-color: #5AB18F;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

div.commandes {
    margin-top:20px;
}

div.menu i {
        margin: auto;
        margin-left: 5px;
}